ul {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15pt;
}

/* getinvolved/index.html */
.main {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 55pt;
    padding: 100px 100px;
}

.downloadlink {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 20pt;
    padding: 100px 100px;
    text-decoration: underline;
}

/* getinvolved/badend/index.html */
.one {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 30pt;
    padding: 25px 150px;
}

.navarrows {
    padding: 100px 100px;
    display: block;
}

/* getinvolved/badend/1.html */

.listone {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: left;
    font-size: 25pt;
    padding: 70px 210px;
}

/* getinvolved/badend/3.html */
.three {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 30pt;
    padding: 200px 290px;
}

/* getinvolved/badend/4.html */
.four {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 40pt;
    padding: 80px 290px;
}

/* getinvolved/badend/15.html */

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -10;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 1%;
  }

.basic {
    margin: 0;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 40pt;
}

.middle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.text::before,.text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.text::before {
    color: #ff003c;
    animation: glitch-effect 0.5s infinite;
}

.text::after {
    color: #3100d4;
    animation: glitch-effect 0.25s infinite;
}

@keyframes glitch-effect {

0% {
    left: -3px;
    top: 0px;
}

25% {
    left: 2px;
    top: 0px;
}

50% {
    left: -1px;
    top: 0px;
}

75% {
    left: 3px;
    top: 0px;
}

100% {
    left: 0px;
    top: 0px;
    }
}

/* getinvolved/badend/17.html --> video formatting */

.seventeen {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 20pt;
    margin: 0px 200px;
    padding: 0px 0px;
}

.seventeentwo {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 20pt;
    margin: -90px 200px;
    padding: 0px 0px;
}

/* getinvolved/badend/18.html*/
.inner-grid {
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 0.5s infinite alternate;
  }
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

  /* getinvolved/badend/22.html --> scary FTC notice */

  #bgtwo {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -10;
  }
  #bgtwo img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 8%;
  }

  .ftc {
      color: red;
      font-family: 'Times New Roman', Times, serif;
      padding: 0px 100px;
  }

  .attention {
      text-align: center;
      font-size: 50px;
  }
  
  .attentiontwo {
      text-align: center;
      font-size: 25px;
      margin: 0px 300px;
      line-height: 30px;
  }

  .attentionthree {
    text-align: center;
    font-size: 8px;
    margin: 0px 300px;
    line-height: 30px;
    color: red;
}

  /* getinvolved/badend/23.html --> scary FTC notice */

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid white;
}
input[type='checkbox']:checked {
    background: #36575c;
}


#bgthree {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -10;
  }
  #bgthree img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 3%;
  }

/* getinvolved/badend/24.html --> scary FTC notice */

#bgfour {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -10;
  }
  #bgfour img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 10%;
  }

  /* getinvolved/badend/30.html */

  #bgfive {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -10;
  }
  #bgfive img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 11%;
  }


  .buttonspace {
    width: 190px;
    height: 22px;
    margin: 0;
}

.bone {
    float: left;
    height: 87px;
    margin: -100px 0px 0px 640px;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #18ab58,
            0 0 0.8rem #18ab58,
            0 0 2.8rem #18ab58,
            inset 0 0 1.3rem #18ab58; 

    
}
/* https://css-tricks.com/how-to-create-neon-text-with-css/ */

.btwo {
    float: right;
    height: 22px;
    margin: -100px 700px 0px 0px;
}

#bgfive {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -10;
  }
  #bgfive img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 11%;
  }

    /* getinvolved/badend/30.html */

    #bgsix {
      position: fixed; 
      top: -50%; 
      left: -50%; 
      width: 200%; 
      height: 200%;
      z-index: -10;
    }
    #bgsix img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      min-width: 50%;
      min-height: 50%;
      opacity: 13%;
    }

    /* getinvolved/badend/32.html */

    #bgseven {
      position: fixed; 
      top: -50%; 
      left: -50%; 
      width: 200%; 
      height: 200%;
      z-index: -10;
    }
    #bgseven img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      min-width: 50%;
      min-height: 50%;
      opacity: 15%;
    }

    .redo {
      font-family: 'Noto Sans', sans-serif;
      color: white;
      text-align: center;
      font-size: 12pt;
      padding: 25px 150px;
  }
  
      /* ----------------------------------- getinvolved/trueend/.html */

      .true {
        font-family: 'Red Hat Mono', monospace;
        color: #FDFFA1;
        text-align: center;
        position: relative;
        top: 50%;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
         -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
             animation: fadein 2s;
 }
 
 @keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
 
 /* Firefox < 16 */
 @-moz-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
 
 /* Safari, Chrome and Opera > 12.1 */
 @-webkit-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
 
 /* Internet Explorer */
 @-ms-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
      

/* getinvolved/trueend/3.html */

.breadcrumbs {
  font-family: 'Red Hat Mono', monospace;
  color: #FDFFA1;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }

}

.truemain {
  font-family: 'Red Hat Mono', monospace;
  color: #FDFFA1;
  text-align: justify;
  position: relative;
  padding: 0px 700px 0px 700px;
  top: 40%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* getinvolved/trueend/5.html */

.truememex {
  font-family: 'Red Hat Mono', monospace;
  color: #FDFFA1;
  text-align: justify;
  position: relative;
  padding: 0px 700px 0px 700px;
  margin-top: -5%;
  top: 30%;
  left: -5%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* getinvolved/trueend/11.html */

.trueeleven {
  font-family: 'Red Hat Mono', monospace;
  color: #FDFFA1;
  text-align: justify;
  position: relative;
  padding: 0px 700px 0px 700px;
  margin-top: -5%;
  top: 35%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* getinvolved/trueend/12.html */

/* GRID  */
.grid-true-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  margin: auto;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }

}
.grid-item-true {
  background-color: transparent;
  padding: 40px;
  font-size: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

/* getinvolved/trueend/13.html */

/* GRID  */
.grid-false-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }

}
.grid-item-false {
  background-color: transparent;
  margin-top: 10%;
  padding: 100px;
  font-size: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

/* getinvolved/trueend/16.html */

.everything {
  font-family: 'Red Hat Mono', monospace;
  color: #FDFFA1;
  text-align: center;
  padding: 25% 0;
  font-size: 70px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }

}