.button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    cursor: pointer;
    outline: 5px solid white;
    font-family: 'Libre Franklin', sans-serif;
    width: 20%;
}
  
  .button2 {background-color: transparent; outline: 5px solid white; font-family: 'Libre Franklin', sans-serif;} /* Blue */
  .button3 {background-color: transparent; outline: 5px solid white; font-family: 'Libre Franklin', sans-serif;} /* Red */ 
  .button4 {background-color: transparent; outline: 5px solid white; font-family: 'Libre Franklin', sans-serif;} /* Gray */ 
  .button5 {background-color: transparent; outline: 5px solid white; font-family: 'Libre Franklin', sans-serif;} /* Black */  